.element {
    width: 100%;
    max-width: 282px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: white;
    position: relative;
}

@media screen and (max-width: 578px) {
    .elements__list-element {
        max-width: 282px;
        margin: 0 auto;
    }
}